*{
    /* border:2px solid lightblue; */
    color:aliceblue;
}

/* BASIC */

body{
   background-color: rgb(33, 54, 91);
   font-family:sans-serif;
}

a{
    text-decoration: none;
    font-size:30px;
}

h3{
    font-size: 30px;
}

/* HEADER CODE */
header{
    margin:auto;
    width:100%;
    display:flex;
    justify-content: space-between;
}

.header-nav{
    width:300px;
    display:flex;
    justify-content: space-between;
}

hr{
    border:2px solid rgb(68, 109, 135);
}

/* Search bar */

.search img{
    width:30px;

}

.search input{
    color:grey;
    width:400px;
    height: 50px;
    position:absolute;
    top:10px;
    left:45px;
}

/* CONTAINER */

.container{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width:1500px;
    margin:auto;
    flex-shrink:1;
}

/* MAIN COLUMN */

.container main{
    width:1000px;
    display:flex;
    flex-direction: column;
}

/* submit bar */
.submit-bar{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.recommended img{
    width:300px;
}

.submit-nav{
    /* align-self: ; */
    display: flex;
    justify-content: space-around;
    width:850px;
    padding:10px;
    background-color: aliceblue;
    
}

/* Following and recommended rows */

.tabs
{
    text-align: center;
    margin-top:20px;
}

.tabs a{
    padding:10px;
}

.recommended section{
    display: flex;
    justify-content: space-around;
}

/* Blog content */
.main-content{
    display:flex;
    margin:20px 0px;
}

.main-content header{
    font-size: 25px;
}

.main-content .icon{
    width:100px;
    height:100px;
    margin-right:25px;
    position:sticky;
    top:10px;
}

.blogs{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-between;
}

.box{
    background-color: aliceblue;
    padding:20px 0px;
    border-radius:15px;
}

.box header{
    color:black;
}

.box p{
    margin:0px 20px;
}

.box footer >*{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:0px 20px;
}

.main-content p{
    font-size: 25px;
    color:black;
}

#ad{
    margin-left:125px;
}

/* SIDE COLUMN */

.side-column{
    display:flex;
    flex-direction: column;
    width:425px;
    flex-shrink: 0;
    flex-grow:0;
}

#blogs h4{
    margin-bottom: 10px;
}

#radar{
    flex-direction: column;
}

.radar-header{
    display:flex;
    justify-content: flex-start;
    margin: 0px 0px 10px 10px;

}

#film{width:400px;}