*{
    border:2px solid lightblue;
    color:aliceblue;
}

/* BASIC */

body{
   background-color: rgb(33, 54, 91);
   font-family:sans-serif;
}

a{
    text-decoration: none;
    font-size:20px;
}

h3{
    font-size: 20px;
}

/* HEADER CODE */
header{
    margin:auto;
    width:100%;
    display:flex;
    justify-content: space-between;
}

/* Search bar */

.search img{
    width:20px;

}

.search input{
    color:grey;
}

/* CONTAINER */

.container{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}

/* MAIN COLUMN */

.main-column{
    width:60%;
}

/* submit bar */
.submit-bar{
    display:flex;
    width:100%;
    justify-content: space-around;
}

/* Following and recommended rows */

.tabs
{
    text-align: center;
}

.recommended section{
    display: flex;
    justify-content: space-around;
}

/* Blog content */

.main-content header{
    font-size: 17px;
}

.box{
    background-color: aliceblue;
}

.main-content p{
    font-size: 17px;
    color:black;
}

/* SIDE COLUMN */

.side-column{
    width:40%;
    flex-shrink: 1;
}
